<div class="card">
    <div class="card-body">
        <div class="table">
            <tbody>
                <tr>
                    <td><img class="img-responsive user-icon" src="./assets/images/user_icon.png"></td>
                    <td>{{userData.firstName }} {{userData.lastName }}</td>
                    <td>{{userData.mobile}}</td>
                    <td>{{userData.email}}</td>
                    <td>{{userData.place}}</td>
                    <td><i class="fa fa-pencil-square-o icons edit-icon" aria-hidden="true"></i>
                        <i class="fa fa-trash icons delete-icon" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </div>
    </div>
</div>